.form__button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  transition: .8s;
  color: #FFFFFF;
}

.form__button:hover {
  cursor: pointer;
  opacity: .7;
}

.form__button:last-child {
  padding-top: 16px;
  color: #EE3465
}