.popup__container {
  position: fixed;
  height: 80vh;
  width: 80vw;
  padding: 0;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #000000;
  /* border: 1px solid red; */
}

@media screen and (max-width: 618px) {
  .popup__container {
    min-width: 300px;
    margin: 20px;
  }
}